<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
    <label>Enter your name:</label> 
    <input type="text" name="name">
    <label>Enter an Email Address:</label> 
    <input type="text" name="email">
    <label>Enter a Password:</label> 
    <input type="text" name="password">
    <input type="submit" value="Sign Up">
 </form>


